<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield(:title) || "ScotCot.com" %></title>
    <%= stylesheet_link_tag 'application', :media => 'all', :cache => true %>
    <%= javascript_include_tag 'jquery-1.4.min', 'application', :cache => true %>
  </head>
  <body>
    <div id="container">
      
      <div id="header">
        <div id="banner">
          <h1>Scottish Cottages</h1>
        </div>
        <div id="login_controls">
          <% if current_user -%>
            <%= link_to "My Account", account_path %> | 
            <%= link_to "Logout", logout_path %>
          <% else -%>
            <%= link_to "Signup", signup_path %> | 
            <%= link_to "Login", login_path %>
          <% end -%>
        </div>
        <% if can? :manage, @portfolio %>
          <div id="navigation">
            <ul>
              <li><%= link_to 'Book It!', root_url, :class => 'selected' %></li>
              <li><a href="#">Rent It!</a></li>
            </ul>
          </div>
        <% end %>
      </div>
      <div id="content">
        <div id="main">
          <%= render :partial => 'layouts/flashes' -%>
          <%= yield %>
        </div>
        <div id="sidebar">
          <p>sidebar goes here</p>
        </div>
      </div>
      <div id="footer">
        &copy;2010 Planet Urf
      </div>
    </div>
  </body>
</html>
